{{!< main }}
<!-- views/logout.handlebars -->

<div class="confirmation-container">
    <p class="confirmation-header centered">Thank you for your donation!</p>
    <p class="confirmation-subtext centered">{{profile}} very much appreciates it.</p>
</div>
