.login-register {
   
    display: flex;
    align-items: center;
    gap:2.5%;
    justify-content: center;
    padding-top: 3.5rem;
    height: calc(100%); /* account for the height of the nav */
    width: 100%;
}
.login-area {
    width: 40%;
    padding-top: 1.5%;
    border-radius: 10px;

    box-shadow: 8px 8px 4px 0px rgba(0,0,0,.25);
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    background-color: rgb(38, 39, 42);
    background: linear-gradient(180deg, rgb(34, 35, 38) 60%, #12131600 100%);
}
.register-area {
    width: 40%;
    padding-top: 1.5%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 8px 8px 4px 0px rgba(0,0,0,.25);
    border-radius: 10px;

    background-color: #121316;
    background-color: rgb(38, 39, 42);
    background: linear-gradient(180deg, rgb(34, 35, 38) 60%, #12131600 100%);
}
.login-header { 

}
.signin-header {
    /*font-size: clamp(1.75rem, 3vw, 2.25rem);*/
    font-size: clamp(22px,3vw,35px);
    font-family: Inter;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: -.5px;
    font-weight: 800;
    color:#eee;
    padding: 0;
    margin-bottom: 0;
}
.signin-subtext {
    font-size: clamp(.875rem, 3vw, 1.125rem);
    font-family: DM Sans;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    transform: translateY(.25rem);
    width: 100%;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    letter-spacing: -.5px;
    font-weight: 500;
    color: #9a9a9a;
}

.signin-button {
    margin-top:2rem;
    background-color: #288cff;
    border-radius: .375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: fit-content;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    height: 2.75rem;
    border:none;
    outline: 1px solid #288cff;
    transition: all .2s linear;
    text-decoration: none;
    font-family: DM Sans;
    font-weight: 600;
    font-size: clamp(1rem, 1.5vw, 1.125rem);
    text-decoration: none;
    margin-left: auto;
    z-index: auto;
    margin-right: auto;
}
.signin-button-text {
    font-family: DM Sans;
    font-weight: 600;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
}
.signin-button-alt {
    margin-top: 3rem;
  /*  background-color: #00DC8200;*/
    background-color: rgb(145, 94, 255);
    border-radius: .375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: none;
    outline: 1px solid rgb(145, 94, 255);
    width: 10.25rem;
    height: 2.75rem;
    transition: all .2s linear;

    text-decoration: none;
    font-family: DM Sans;
    font-weight: 600;
    font-size: clamp(1rem, 1.5vw, 1.125rem);
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}
.signin-button:hover {
    filter: drop-shadow(0px 0px 8px #288cffdd);
}
.signin-button-alt:hover {
    filter: drop-shadow(0px 0px 8px rgb(145, 94, 255));
}
.register-username-form {
    width: 75%;
    border-top: 1px dashed #4a4a4a;
    height: 40%;
    margin-top: 1rem;
    padding-top: 1rem;

    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.signin-form {
    width: 75%;
    border-top: 1px dashed #4a4a4a;
    height: 40%;
    margin-top: 1rem;

    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login-fields-container {
    min-width: 100%;
    height:fit-content;
    justify-content: flex-start;
    display: flex;
    gap:1.5rem;
    flex-direction: column;
}
.login-field-wrapper {
    min-width: 100%;
    align-self: flex-start;
    display:flex;
    flex-direction: column;
}
.login-field-text {
    font-size: clamp(.9rem, 2.5vw, 1.1rem);
    font-family: DM Sans;
    margin-right: auto;
    padding-left: .125em;
    padding-bottom: .125em;
    letter-spacing: -.25px;
    font-weight: 600;
    color: #eee;
}
.login-input-wrapper {
    width: 100%;
    min-height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}
.username-input {
    min-width: 97.5%;
    border-radius: 10px;
    padding-left: 1.25em;
    color:#eee;
    outline: none;
    padding-top: .125em;
    padding-bottom: .125em;
    border:none;
    background-color: #131516;
    height:3rem;
    font-size: clamp(.875rem, 2.5vw, 1rem);
    font-family: DM Sans;
    font-weight: 400;
}
.username-input::placeholder {
    font-size: clamp(.875rem, 2.5vw, 1rem);
    font-family: DM Sans;
    font-weight: 400;
    color: #656565;
}
.password-input {
    min-width: 97.5%;
    border-radius: 10px;
    padding-left: 1.25em;
    color:#eee;
    outline:none;
    padding-top: .125em;
    padding-bottom: .125em;
    border:none;
    -webkit-text-security: disc;
    text-security: disc;
    background-color: #131516;
    height:3rem;
}
.password-input::placeholder {
    font-size: clamp(.875rem, 2.5vw, 1rem);
    font-family: DM Sans;
    font-weight: 400;
    color: #656565;
}
.option-text {
    font-size: clamp(12px, 2vw, 15px);
    color:#fff;
    font-family: DM Sans;
    font-weight: 400;
    display: inline;
    overflow: hidden;
    letter-spacing: -.25px;

}
.option-text:before {
    background: linear-gradient(90deg, rgba(100, 100, 100,0), #288cff );
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 60%;
    right: .75em;
    margin-left: -50%;
}
.option-text:after {
  background: linear-gradient(90deg, rgb(156, 111, 253), rgba(100, 100, 100,0));
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 60%;
  left: .75em;
  margin-right: -50%;
}

.option-container{

    width: 2.5%;

    text-align: center;

}
.button-container {
    position: relative;
}


@media screen and (max-width: 926px) {
    body {
        width: 100%;
        height:100%;
        /*height: 100%;*/
        margin: 0;
        background-color: #121316;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
          'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
          sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding: 0;    
    }
    .login-register {
        z-index: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: flex-start;
        padding-top: 3.25rem;
        height: 100%;
        width: 100%;
    }
    .login-area {
        width: 80%;
        padding-top: 1.5%;
        border-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 8px 8px 4px 0px rgba(0,0,0,.25);
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
        background-color: rgb(28, 29, 32);
        background: rgb(28, 29, 32);
        padding-bottom: 2.5rem;
    }
    .register-area {
        width: 80%;
        padding-top: 1.5%;
        display: flex;
        align-self: center;
        margin-top: 5%;

        flex-direction: column;
        height: fit-content;
        justify-content: flex-start;
        align-items: center;
        box-shadow: 8px 8px 4px 0px rgba(0,0,0,.25);
        border-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: rgb(28, 29, 32);
        background: rgb(28, 29, 32);
        
        padding-bottom: 2.5rem;
    }
    .signin-form {
        width: 75%;
        border-top: 1px dashed #454545;
        height: fit-content;
        margin-top: 1.25rem;
        padding-top: .75rem;

        align-self: center;
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .register-username-form {
        width: 75%;
        border-top: 1px dashed #454545;
        height: fit-content;
        margin-top: 1.25rem;
        padding-top: .75rem;

        align-self: center;
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .login-fields-container {
        min-width: 100%;
        height:auto;
        justify-content: flex-start;
        
        display: flex;
        margin-bottom: 2.25rem;
        gap:1.25rem;
    
        flex-direction: column;
    
    }
    .signin-button {
        filter: none;
        z-index: auto;
        margin-top: 2rem;
     
    }
    .signin-button-alt {
        z-index:auto;
        filter: none;
        margin-top: 0;
        transform: none;
    }
    .option-text {
        font-size: clamp(13px, 2vw, 15px);
        color:#fff;
        font-family: DM Sans;
        font-weight: 400;
        display: inline;
        overflow: hidden;
        letter-spacing: -.25px;
    
    }
    .option-text:before {
        background: linear-gradient(90deg, rgba(100, 100, 100,0), #288cff );
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
        right: 1em;
        margin-left: -50%;
    }
    .option-text:after {
      background: linear-gradient(90deg, rgb(156, 111, 253), rgba(100, 100, 100,0));
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
      left: 1em;
      margin-right: -50%;
    }
    
    .option-container{
    
        width: 50%;
        height: 3rem;
        padding-top: 1.5rem;
        justify-content: center;
        vertical-align: middle;
        display: inline-block;

        align-items: center;
        text-align: center;
    
    }
    .option-text {
        margin-top: auto;
        margin-bottom: auto;
    }
    .footer-container {
        z-index: 1;
        background-color: transparent;
        position: relative;
    }
    .signin-header {
        /*font-size: clamp(1.75rem, 3vw, 2.25rem);*/
        font-size: clamp(28px,3vw,35px);
        font-family: Inter;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: -.5px;
        font-weight: 800;
        color:#eee;
        padding: 0;
        margin-bottom: 0;
    }
}
